.topdiv{
	background: rgb(60, 179, 113);
	margin: 40px;
	margin-left: 0px;
	margin-right: 0px;

}
.topdivtext {
	text-align: center;
}

body{
	background: white;
	margin: 20px;
	border-left: 20px solid green;
	border-right: 20px solid rgb(36, 160, 36);
	height: 10000px;
}
.maindiv{
	margin-top: 0px;
	margin-left: 60px;
	margin-right: 60px; 
	position: absolute;
	top: 80%;
	
	

}


.postbutton {
	border: 10px solid gray;
	height: 50px;
	width: 100px;
	position: absolute;
	left: 70%;


}



#firststatic{
	color: green;
	font-size: 30px;

}


.post {
	position: absolute;
	visibility: visible;
	left: 20%;
	background-color: gray;
	top:  20%;
	right: 30%;

	
}

.postdiv2 {
	margin: 20px;
	position: absolute;
	top: 120%;
	left: 5%;
	background-color: rgb(147, 187, 147);
}

.postbutton {
	left: 110%;
	top: 35%; 
	border: 5px;
	background-color: rgb(55, 158, 55);
	height: 50px;
}

.postbutton2 {
	left: 110%;
	position: absolute;
	top: 75%; 
	border: 5px;
	background-color: rgb(55, 158, 55);
	height: 40px;
}

.postbutton3{
	left: 160%;
	position: absolute;
	top: -50%; 
	border: 5px;
	background-color: rgb(55, 158, 55);
	height: 40px;
}


.posttextfield {
	width: 98%;
	height: 100%;
	border-left:10px solid gray;
	
}
#text {
	border-left: 5px solid gray;
}

#Progress_Status { 
	width: 50%; 
	background-color: #ddd;
	width: 0%;


  } 
	
  #myprogressBar { 
	width: 1%; 
	height: 35px; 
	background-color: #4CAF50; 
	text-align: center; 
	line-height: 32px; 
	color: black; 
	position: absolute;
	left: 1%;
	right: 80%;
	top: -120%;
	margin: 0%;
  } 

  #postclass {
position: absolute;
top: 20%;
right: 500px;
border: 10px solid red;

  }
  .myprogressBar2{

	height: 40px;
	width: 200px;
  }

  .myprogressBar{

	height: 40px;
	width: 200px;
  }

  #postsclass2 {
	  position: absolute;
	  right: 10px;
	  left: 500px;
	  top: 8%;
	

  }

#postsclass3{
	position: absolute;
	right: 10px;
	left: 800px;
	top: 8%;
	margin-top: 30px;
	color: red;
  
}

  #secondstatic {
	color: green;
	font-size: 30px;
	position: absolute;
	right: 10px;
	left: 600px;
	top: 0%;
  }

  #thirdstatic {
	color: green;
	font-size: 30px;
	position: absolute;
	right: 10px;
	left: 900px;
	top: 0%;
  }